<%- include("template/cabecera", {tituloWeb: "Madrid"}) %>

<div class="mt-5 mx-auto" style="width: 600px;">
  <div class="card">
    <h5 class="card-header"><%= titulo %></h5>
    <div class="card-body">
      <h5 class="card-title">Data Pipeline</h5>
      <p class="card-text">Metrobús CDMX</p>
      <p class="fst-italic align-text-bottom text-end">Mi developer es Madrid</p>
    </div>
  </div>
</div>
  
<%- include("template/footer")%>