<%- include("template/cabecera", {titulo: "Búscar historial"}) %>

<div class="mt-3 d-flex justify-content-center">
    <h1>Historial de ubicación por id</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <label class="mb-2 d-flex justify-content-center"><strong>Id de la unidad</strong></label>
            <input class="form-control" placeholder="Id" id="idAutobus" style="text-align:center" type="number">
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary mt-3" id="btnConsultar">Consultar</button>
            </div>
        </div>
    </div>
</div>

<table id="historialTable" class="table table-bordered mt-5" style="text-align:center">
    <thead>
        <tr>
        <th>Id Vehículo</th>
        <th>Geographic_point</th>
        <th>Alcaldía</th>
        </tr>
    </thead>
    <tbody id="historialTableBody">  
    </tbody>
</table>
<div id="alert">
</div>

    



<%- include("template/footer")%>


<script>

    const consultar = document.querySelector('#btnConsultar')
    let rowCount= -1;

    //Dibujar las filas de la tabla de acuerdo a la respuesta del servidor
    consultar.addEventListener('click', async() => {

        //Obtener el valor del input
        const id = document.getElementById("idAutobus").value

        //Eliminar el alert si existe en el dom antes de la próxima consulta
        let existe = !!document.getElementById("alertMostrado");
        existe ? document.getElementById("alertMostrado").remove() : ''

        try {

            let row2;
            let row2data;
            let row2data2;
            let row2data3;
            let table;
            let existe2;
  
            const data = await fetch(`/historialUnidad/${id}`)
            //Obtener la respuesta del servidor en json
            const res = await data.json()

            if(res.length>0){

                //Si existen registros en la tabla, hay que limpiarlos antes de presentar los nuevos
                for(let i=1; i<rowCount; i++) {
                    (rowCount === -1) ? '' : document.getElementById("historialTable").deleteRow(-1)
                }

                //Se dibujan los registros de la tabla
                res.findIndex((elemento, indice) => {
                    row2 = document.createElement('tr')
                    row2data = document.createElement('td')
                    row2data.innerHTML = res[indice].idVehiculo
                    row2data2 = document.createElement('td')
                    row2data2.innerHTML = res[indice].geographicPoint
                    row2data3 = document.createElement('td')
                    row2data3.innerHTML = res[indice].alcaldiaVehiculo

                    row2.appendChild(row2data)
                    row2.appendChild(row2data2)
                    row2.appendChild(row2data3)
                    //Agregamos las filas a las tablas
                    document.getElementById('historialTableBody').appendChild(row2)
                })

                //Obtener los registros que se crearon 
                table = document.getElementById("historialTable")
                rowCount = table.rows.length;

            }else{

                //Si existen registros en la tabla, hay que limpiarlos antes de presentar los nuevos
                for(let i=1; i<rowCount; i++) {
                    (rowCount === -1) ? '' : document.getElementById("historialTable").deleteRow(-1)
                }

                //Crear el alert en caso que no existan registros
                let alert = document.createElement('div')
                alert.innerHTML = '<div id="alertMostrado" class="alert alert-primary alert-dismissible d-flex justify-content-center" role="alert">No hay registros con ese Id de vehículo, intente de nuevo.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
                document.getElementById('alert').appendChild(alert)

                rowCount = -1;
            
            }
            
        } catch (error) {
            console.log("Es un error en buscarHistorial" + error)
        }
    })
        
</script>