<%- include("template/cabecera", {tituloWeb: "Madrid"}) %>

<div class="mt-5 mx-auto" style="width: 600px;">
  <div class="card">
    <h5 class="card-header"><%= titulo %></h5>
    <div class="card-body">
      <h5 class="card-title">Arkon Data</h5>
      <p class="card-text">¡Hola! Mi nombre es Madrid Gutiérrez Hernández.</p>
    </div>
  </div>
</div>
  
<%- include("template/footer")%>